@font-face {
    font-family: "OpenDyslexic";
    src: url(OpenDyslexic-Italic.otf);
}

body { 
  background-size: cover;
  display:flex;
  flex-wrap: wrap;
  font-family: OpenDyslexic;
}

.center_container {
    width: 1760px;
    height: 950px;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-wrap: wrap;  
    
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .3);  
    border-radius: 5%;
}

/*.header{

}*/

/*.leftbox{

}*/

.gridbox76{
    width: 1000px;
    height: 800px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;  
    
}

.photo{

    box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.336);
    border-radius: 5%;
    filter:blur(1px);

    animation: apear 2s;
    /*animation: rotating 5s infinite;*/
   
    grid-column: 1/3;
    grid-row: 2/6;

    /*I feel perceived over here*/
}

.photo:hover{
    cursor: grab;
}

.map {
    /*look at thaaat, it takes you "anywhere" and "everywhere"*/

    grid-column: 7/8;
    grid-row: 2/2;

    background-image: url("assets/map.png");
    background-size:contain;
    
    z-index: 1;
    animation: apear 2s;

}

/*needs tuning*/
.map:hover{
    cursor: pointer;
}

.textbox{
   grid-column: 3/8;
   grid-row: 2/6;   
}

.wavy-text span{
    display: inline-block;
    font-size: 24px;
    animation: wave 2s ease-in-out infinite;
}

.wavy-text span:nth-child(n+1) {
    animation-delay: calc(sibling-index()*0.1s);
}

h3{
    color: aliceblue;
    font-size: 24px;
    text-shadow: 2px 2px #000000; 
    animation-delay: 2s;
    animation: apear 2s forwards;
    
}

p{ 
    color: aliceblue;
    font-size: 20px;
    text-shadow: 2px 2px #000000; 
    animation-delay: 2s; 
    animation: apear 2s forwards;
     
}

.swivling-text span{
    display: inline-block;
    font-size: 18px;
    animation: swivle 1s ease-in-out infinite;
}

.swivling-text span:nth-child(n+1) {
    animation-delay: calc(sibling-index()*0.1s);
}


/*.rightbox{

}*/

@keyframes apear {
0%{opacity: 0;}
100%{opacity: 100%;}    
}

@keyframes disapear {
0%{opacity: 100%;} 
100%{opacity:0%}
}

@keyframes scaledown {
0%{scale: 100%;} 
100%{scale:0%;}
}

@keyframes wave {
0%, 100%{transform: translateY(0);}
50% {transform: translateY(-20px);}
}

@keyframes swivle{
0%, 100%{transform: rotate(-10deg);}
50%{transform: rotate(10deg);}   
}

/*kinda works*/
@keyframes rotating {
    0%, 100%{transform: rotateY(45deg);}
    50% {transform: rotateY(-45deg);}

    
}