@font-face {
    font-family: "OpenDyslexic";
    src: url(OpenDyslexic-Italic.otf);
}

body { 
  background-size: cover;
  display:flex;
  flex-wrap: wrap;
  font-family: OpenDyslexic;
}

.container {
    width: 1760px;
    height: 950px;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-wrap: wrap;  
    background: linear-gradient(to right, rgb(187, 210, 197), rgb(83, 105, 118), rgb(41, 46, 73));
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .3);  
    border-radius: 5%;
}

/*.header{

}*/

/*.leftbox{

}*/

.gridbox76{
    width: 1000px;
    height: 800px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;  
    
}

.photo{

    /*background-image: url("20241024_233926.png");*/
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.336);
    border-radius: 5%;
    filter:blur(1px);

    animation: apear 2s;
    /*animation: rotating 5s infinite;*/
   
    grid-column: 1/3;
    grid-row: 2/6;

    /*I feel perceived over here*/
}

.photo:hover{
    cursor: grab;
}

.map{
    /*look at thaaat, it takes you "anywhere" and "everywhere"*/

    grid-column: 7/8;
    grid-row: 2/2;

    background-color: blueviolet;
    transition: 1s ease-in-out;
    z-index: 1;
    animation: apear 2s;
}

/*needs tuning*/
.map:hover{
    cursor: pointer;
    
    margin-bottom: -328%;
    margin-left: -465%;

    transition: 1s ease-in-out;
    z-index: 1;
}

.textbox{
   grid-column: 3/8;
   grid-row: 2/6;   
}

.wavy-text span{
    display: inline-block;
    font-size: 24px;
    animation: wave 2s ease-in-out infinite;
}
/*doesn't work yet
.wavy-text span:nth-child(n+1) {
    animation-delay: 0.2 + 0.2s ;
}*/
.wavy-text span:nth-child(1) {
    animation-delay: 0s;
}
.wavy-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wavy-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wavy-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wavy-text span:nth-child(5) {
    animation-delay: 0.7s;
}
.wavy-text span:nth-child(6) {
    animation-delay: 0.8s;
}
.wavy-text span:nth-child(7) {
    animation-delay: 0.9s;
}

h3{
    color: aliceblue;
    font-size: 24px;
    text-shadow: 2px 2px #000000; 
    animation-delay: 2s;
    animation: apear 2s forwards;
    
}

p{ 
    color: aliceblue;
    font-size: 20px;
    text-shadow: 2px 2px #000000; 
    animation-delay: 2s; 
    animation: apear 2s forwards;
     
}

.swivling-text span{
    display: inline-block;
    font-size: 18px;
    animation: swivle 1s ease-in-out infinite;
}

/*doesn't work yet
.swivling-text span:nth-child(n+1) {
    animation-delay: 0.2 + 0.2s ;
}*/

.swivling-text span:nth-child(1) {
    animation-delay: 0s;
}
.swivling-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.swivling-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.swivling-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.swivling-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.swivling-text span:nth-child(6) {
    animation-delay: 0.10s;
}
.swivling-text span:nth-child(7) {
    animation-delay: 0.12s;
}
.swivling-text span:nth-child(8) {
    animation-delay: 0.14s;
}
.swivling-text span:nth-child(9) {
    animation-delay: 0.16s;
}
.swivling-text span:nth-child(10) {
    animation-delay: 0.18s;
}
.swivling-text span:nth-child(11) {
    animation-delay: 0.20s;
}
.swivling-text span:nth-child(12) {
    animation-delay: 0.22s;
}
.swivling-text span:nth-child(13) {
    animation-delay: 0.24s;
}
.swivling-text span:nth-child(14) {
    animation-delay: 0.26s;
}
.swivling-text span:nth-child(15) {
    animation-delay: 0.28s;
}
.swivling-text span:nth-child(16) {
    animation-delay: 0.30s;
}
.swivling-text span:nth-child(17) {
    animation-delay: 0.32s;
}
.swivling-text span:nth-child(18) {
    animation-delay: 0.34s;
}
.swivling-text span:nth-child(19) {
    animation-delay: 0.36s;
}
.swivling-text span:nth-child(20) {
    animation-delay: 0.38s;
}
.swivling-text span:nth-child(21) {
    animation-delay: 0.40s;
}
.swivling-text span:nth-child(22) {
    animation-delay: 0.42s;
}
.swivling-text span:nth-child(23) {
    animation-delay: 0.44s;
}
.swivling-text span:nth-child(24) {
    animation-delay: 0.46s;
}
.swivling-text span:nth-child(25) {
    animation-delay: 0.48s;
}
.swivling-text span:nth-child(26) {
    animation-delay: 0.50s;
}
.swivling-text span:nth-child(27) {
    animation-delay: 0.52s;
}
/*.rightbox{

}*/

@keyframes apear {
0%{opacity: 0;}
100%{opacity: 100%;}    
}

@keyframes disapear {
0%{opacity: 100%;} 
100%{opacity:0%}
}

@keyframes wave {
0%, 100%{transform: translateY(0);}
50% {transform: translateY(-20px);}
}

@keyframes swivle{
0%, 100%{transform: rotate(-10deg);}
50%{transform: rotate(10deg);}   
}

/*kinda works*/
@keyframes rotating {
    0%, 100%{transform: rotateY(45deg);}
    50% {transform: rotateY(-45deg);}

    
}